html {
  scroll-behavior: smooth;
}
.jumbotron {
  padding-top: 6rem;
  background-color: #b6f6ed;
}
#projects {
  background-color: #b6f6ed;
}
section {
  padding-top: 5rem;
}
#submit:hover {
  background-color: black;
}
#logo-skill {
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
  transition: transform 0.3s ease, opacity 0.3s ease;
  cursor: pointer;
}
#logo-skill:hover {
  transform: scale(1.2); /* Memperbesar ikon saat dihover */
  opacity: 0.8;
}
#skill {
  background-color: #273036;
}
